$color: purple;

ul {
    font-size: 14px;
    color: $color;
}

ol {
    font-size: 18px;
    color: $color;
}

div {
    font-size: 18px;

    p {
        color: blue;
    }

    ul {
        color: green;
    }
}

/* sass --watch "filename".scss:scss:"filename".css to actively change translate the file to css */
