html {
    background-color: #313338;
}

#searchbar {
    width: 25%;
}

h1 {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    color: #eeefff;
    text-align: center;
    line-height: 200%;
    padding-top: 175px;
}

td {
    padding-top: 20px;
}

.searchColumn {
    padding-left: 10px;
}

.advSearchLayout {
    padding-left: 25px; 
    padding-top: 25px;
}

li {
    padding-bottom: 25px;
    font-size: 12px;
}

#specificDefinition {
    padding-left: 25px;
    padding-top: 25px;
    font-size: 16px;
}

.container {
    font-size: 0;
}

.container span {
    font-size: 16px;
    background: #DDD;
}

#advSearchButton {
    background-color: rgb(38, 102, 175);
    color: #eeefff;
    position: relative;
    left: 390px;
}