html {
    background-color: #313338;
}

#searchbar {
    width: 25%;
    position: relative;
    bottom: 100px;
}

.searchButton {
    position: relative;
    bottom: 95px;
}

.menu {
    list-style: none;
    text-align: right;
}

.menuPoint {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

h1 {
    position: relative;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    color: #eeefff;
    text-align: center;
    line-height: 200%;
    padding-top: 175px;
    bottom: 100px;
    width: 50%;
}

h2 {
    color:rgb(38, 102, 175);
    position: relative; 
    text-align: center;
    left: 430px; 
    bottom: 182px; 
    font-family: 'Open Sans', sans-serif;
    width: 50%;
}

td {
    padding-top: 20px;
}

.searchColumn {
    padding-left: 10px;
}

.advSearchLayout {
    padding-left: 25px; 
    padding-top: 25px;
}

li {
    padding-bottom: 25px;
    font-size: 12px;
}

#specificDefinition {
    padding-left: 25px;
    padding-top: 25px;
    font-size: 16px;
}

.container {
    font-size: 0;
}

.container span {
    font-size: 16px;
    background: #DDD;
}

#advSearchButton {
    background-color: rgb(38, 102, 175);
    color: #eeefff;
    position: relative;
    left: 390px;
}